.homePageWrapper {
  padding: 50px 0px;
}

.pageTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  .pageTitle {
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
  }

  .pageAction {
    font-size: 20px;
    line-height: 26px;
    color: #A18A68;
    cursor: pointer;
  }
}


.productListWrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 90px;
  column-gap: 70px;
}
