body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

#root {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  margin: 0;
  padding: 0;
}
