.cardWrapper {
  flex: 0 0 30%;
}

.productImg {
  width: 382px;
  height: 408px;
  display: block;
  margin: 0 auto 25px;
  border-radius: 8px;
  object-fit: contain;
}

.productTitle {
  max-width: 382px;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 17px;
}

.productPrice {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #A18A68;
}
